@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material_icons.woff2) format('woff2');
}
body, html {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-image: url(../images/path4142.png);
    background-size: cover;
}
h1 {
    font-weight: 900;
}
.hidden {
    display: none;
}
.disabled {
    pointer-events: none;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.connected{
	border-left: 1px;
	border-color: #111111;
	height: 100%;
	width: 100%;
}
.head{
	text-align: center;
	background-color:#00695c; 
	color:white;
}
.card-panel{
  margin:10px;
}
#msg-box {
    overflow-y: scroll;
    max-height: 50vh;
}
.receivedMsg {
    text-align: left;
    padding: 5px;
    display: block;
}
.receivedMsg > p {
    background: #00695c;
    max-width: 30vw;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: all;
    color: #fff;
    display: block !important;
    float: left;
    text-align: left;
    border-radius: 30px;
    position: relative;
    left: 20%;
}
.sentMsg {
    padding: 5px;
    display: block;
    width: 100%;
}
.sentMsg > p {
    background: #4db6ac;
    max-width: 30vw;
    width: auto;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    word-wrap: all;
    color: #fff;
    display: block !important;
    float: right;
    position: relative;
    left: -30%;
    border-radius: 30px;
}
#msg_bar {
    width: 30%;
    padding: 5px;
    margin-top: 50px;
}